*{
	margin:0;
	padding:0;
}
.cartList{
	width:1205px;
	ul{
		list-style:none;
	}
	.cartHead{
		border:1px solid black;
		height:50px;
		li{
			width:200px;
			height:50px;
			float:left;
			font:32px/50px "楷体";
			text-align:center;
		}
	}
}
.goodInfo{
	border:1px solid black;
	border-top:none;
	height:50px;
}
.goodInfo li{
	width:200px;
	height:50px;
	float:left;
	font:24px/50px "";
	text-align:center;
	input{
		width:30px;
		text-align:center;
	}
}
.goodInfo li.num a{
	display:inline-block;
	width:10px;
	height:20px;
	font:12px/20px "";
	background:#ddd;
	text-decoration:none;
	
}
.goodInfo li img{
	width:40px;
	height:40px;
	margin-top:5px;
	text-align:center;
}
.blank{
	height:50px;
	font:32px/50px "";
	text-align:center;
	border:1px solid black;
	border-top:none;
	display:none;
}
